{% extends 'base.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block body %}
<style>
</style>
</style>
    <div class="container">
        {{ include('header.html.twig') }}
        <!— Order —>
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                    <div class="text-center">
                        <h1 >PM-bloGG - всё обо всём.</h3>
                        <p class="fw-light">Тут вы можете высказывать что угодно!</p>
                    </div>
                <div class="text-center mt-5 mb-2">
                    <a class="btn btn-primary" href="/post/crud/new">Написать пост</a>
                </div>
            </div>
        </div>
        <!— body —>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {%  for post in posts %}
                <div class="col-md-6 post">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success">{{ post.getUser().getCategory().getName() }}</strong>
                            <h3 class="mb-0">{{ post.getTitle()  }}</h3>
                            <small class="text-muted">{{ post.getAddDate()|date("h:m:s d/m/y") }}</small>
                            <p class="mb-auto">{{ post.getText() }}</p>
                            <div class="d-flex justify-content-between">
                                <a href="/blog/{{ post.getUser().getBlogName() }}">Перейти к блогу</a>
                                <a href="/post/{{ post.getId() }}">Перейти к посту</a>
                            </div>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <a href="/post/{{ post.getId() }}">
                                <img class="bi" width="200" height="250"
                                    {% if post.getAvatar() is null %}
                                     src="{{ asset('/build/images/empty-post-avatar.423ea995.svg') }}"
                                    {% else %}
                                     src="{{ asset('uploads/posts/'~post.getAvatar()) }}"
                                {% endif %}" }}"/>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!— Footer —>
        {{ include('footer.html.twig') }}
    </div>
{% endblock %}
