{% extends 'base.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block body %}
<style>
</style>
</style>
    <div class="container">
        {{ include('header.html.twig') }}
        <!— Order —>
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <p class="text-center">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Найти блог" aria-label="Find blog" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Найти</button>
                </div>
                </p>
            </div>
        </div>
        <!— body —>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {%  for user in users %}
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success">{{ user.getBlogCategory() }}</strong>
                            <h3 class="mb-0">{{ user.getBlogName()  }}</h3>
                            <div class="mb-1 text-muted">Nov 11</div>
                            <p class="mb-auto">{{ user.getBlogCaption() }}</p>
                            <div class="d-flex justify-content-between">
                                <a href="/blog/{{ user.getBlogName() }}">Перейти к блогу</a>
                                <a href="/user/{{ user.getName() }}">Профиль автора</a>
                            </div>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <a href="/blog/{{ user.getBlogName() }}">
                                <img class="bi" width="200" height="250" src="{{ asset('build/images/'~user.getBlogPicture()) }}"/>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!— Footer —>
        <div class="container">
            <div class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                    </a>
                    <span class="text-muted">© 2021 Company, Inc</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
