{% extends 'base.html.twig' %}

{% block title %}{{ blog.getBlogName() }}{% endblock %}

{% block body %}
    <!-- Header -->
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img class="bi me-2" width="40" height="40" src="{{ asset("build/images/logo.svg") }}"/>
                <span class="fs-4">PM-bloGG</span>
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-dark">Главная</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">О нас</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-primary">Login</button>
                <button type="button" class="btn btn-primary">Sign-up</button>
            </div>
        </header>
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 link-secondary" href="#">World</a>
                <a class="p-2 link-secondary" href="#">U.S.</a>
                <a class="p-2 link-secondary" href="#">Technology</a>
                <a class="p-2 link-secondary" href="#">Design</a>
                <a class="p-2 link-secondary" href="#">Culture</a>
                <a class="p-2 link-secondary" href="#">Business</a>
                <a class="p-2 link-secondary" href="#">Politics</a>
                <a class="p-2 link-secondary" href="#">Opinion</a>
                <a class="p-2 link-secondary" href="#">Science</a>
                <a class="p-2 link-secondary" href="#">Health</a>
                <a class="p-2 link-secondary" href="#">Style</a>
                <a class="p-2 link-secondary" href="#">Travel</a>
            </nav>
        </div>
    </div>

    <!--Order -->
    <div class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <img class="rounded-circle shadow-1-strong"
                     src="{{ asset('build/images/'~blog.getBlogPicture()) }}" alt="avatar" width="200"
                     height="200" />
                <h1 class="fw-light">{{ blog.getBlogName() }}</h1>
                <p class="lead text-muted">{{ blog.getBlogCaption() }}</p>
                <p>
                    <a href="/user/{{ blog.getToken() }}" class="btn btn-primary my-2">Страница автора</a>
                    <a href="#" class="btn btn-secondary my-2">Подписаться</a>
                </p>
            </div>
        </div>
    </div>

    <!-- Posts -->
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for post in posts %}
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="/post/{{ post.getId() }}">
                            <img class="bi" width="100%" height="220" src="{{ asset('build/images/'~post.getPictures()[0]) }}"/>
                        </a>
                        <div class="card-body">
                            <p class="card-text">{{ post.getText() }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/post/{{ post.getId() }}" type="button" class="btn btn-sm btn-outline-secondary">Посмотреть</a>
                                </div>
                                <small class="text-muted">{{ post.getAddDate()|date("h:m:s d/m/y") }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
