{% extends 'base.html.twig' %}

{% block title %}{{ blog.getBlogName() }}{% endblock %}

{% block body %}
    {{ include('header.html.twig') }}
    <!--Order -->
    <div class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <img class="rounded-circle shadow-1-strong"
                     {% if blog.getBlogPicture() is null %}
                         src="{{ asset('/build/images/empty-blog-avatar.d7ef8404.svg') }}"
                     {% else %}
                         src="{{ asset('uploads/avatars/blogs/'~blog.getBlogPicture()) }}"
                     {% endif %} alt="avatar" width="200"
                     height="200" />
                <h1 class="fw-light">{{ blog.getBlogName() }}</h1>
                <p class="lead text-muted">{{ blog.getBlogCaption() }}</p>
            </div>
        </div>
    </div>

    <!-- Posts -->
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for post in posts %}
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="/post/{{ post.getId() }}">
                            <img class="bi" width="100%" height="220"
                            {% if post.getAvatar() is null %}
                                 src="{{ asset('/build/images/empty-post-avatar.423ea995.svg') }}"
                            {% else %}
                                 src="{{ asset('uploads/posts/'~post.getAvatar()) }}"
                            {% endif %}"
                            />
                        </a>
                        <div class="card-body">
                            <p class="card-text">{{ post.getText() }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/post/{{ post.getId() }}" type="button" class="btn btn-sm btn-outline-secondary">Посмотреть</a>
                                </div>
                                <small class="text-muted">{{ post.getAddDate()|date("h:m:s d/m/y") }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!— Footer —>
    {{ include('footer.html.twig') }}
{% endblock %}
