{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>AddDate</th>
                <th>Text</th>
                <th>ViewCount</th>
                <th>Pictures</th>
                <th>IsModerated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.addDate ? post.addDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.text }}</td>
                <td>{{ post.viewCount }}</td>
                <td>{{ post.pictures ? post.pictures|join(', ') : '' }}</td>
                <td>{{ post.isModerated ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_post_c_r_u_d_show', {'id': post.id}) }}">show</a>
                    <a href="{{ path('app_post_c_r_u_d_edit', {'id': post.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_post_c_r_u_d_new') }}">Create new</a>
{% endblock %}
