{% extends 'base.html.twig' %}

{% block title %}{{ post.getTitle() }}{% endblock %}
{% block body %}
<style>
    .reply-link
    {
        color: var(--bs-info);
        text-decoration: underline;
    }
    .reply-link:hover
    {
        cursor: pointer;
        color: var(--bs-primary);
        text-decoration: underline;
    }
    .Xmark:hover
    {
        cursor: pointer;
        font-weight: bold;
    }
</style>
    {% block header %}{% endblock %}
{{ include('header.html.twig') }}
<!-- Order -->
    <div class="container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="display-5 fw-bold text-center">
                {{ post.getTitle() }}
            </h1>
        </div>
    </div>
    </div>

  <!--Main layout-->
    <div class="container">
        <div class="container">
          <!--Section: Post data-mdb-->
          <div class="border-bottom pb-2 d-flex justify-content-center">
              {% if post.getPictures()|length == 1 %}
                  <img class="text-center shadow-1-strong"
                       src="{{ asset('uploads/posts/'~post.getPictures()[0]) }}"  width="500"
                       height="500" />
              {% elseif post.getPictures()|length > 1 %}
                  <div id="myCarousel" class="carousel slide mb-3" data-bs-ride="carousel">
                      <!-- Нижние кнопки -->
                      <div class="carousel-indicators">
                          {% for pic in post.getPictures() %}
                              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ loop.index - 1 }}"
                                      {% if loop.first == true %} class="active" {% endif %}
                                      aria-label="Slide {{ loop.index-1 }}"></button>
                          {% endfor %}
                      </div>
                      <!-- Картинки -->
                      <div class="carousel-inner">
                          {% for pic in post.getPictures() %}
                              <div class="carousel-item {% if loop.first == true %} active{% endif %}">
                                  <div class="container d-flex justify-content-center">
                                      <img class="text-center shadow-1-strong me-3"
                                           src="{{ asset('uploads/posts/'~pic) }}" alt="avatar" width="500"
                                           height="500" />
                                  </div>
                              </div>
                          {% endfor %}
                      </div>
                      <!-- Слайдеры -->
                      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                      </button>
                  </div>
              {% endif %}
          </div>
        </div>
    </div>


    <!--Section: Text-->
    <div class="container border-bottom">
      <div class="my-3 mx-auto">
       {{ post.getText() }}
      </div>
    </div>

    <div class="container align-items-center border-bottom">
      <div class="text-center mb-3 mt-3">
        <img src="{{ asset('uploads/avatars/users/'~author.getUserAvatar()) }}" class="rounded-5 shadow-1-strong me-2"
          height="35" alt="" loading="lazy" />
        <span> Published <u>{{ post.getAddDate()|date("h:m:s d/m/y")  }}</u> by</span>
        <a href="" class="text-dark">{{ author.getName() }}</a>
      </div>
    </div>

    {% if app.getUser() %}
    <div class="container">
        <!-- TODO -->
      <p class="text-center"><strong>Leave a comment</strong></p>
        <div class="form-outline mb-4">
            <div class="user_comment_container">
          <img class="rounded-circle shadow-1-strong me-1 mb-1"
          src="{{ asset('uploads/avatars/users/'~app.getUser().getUserAvatar()) }}" alt="avatar" width="60"
          height="60" />
                <span class="fw-bold mb-1">{{ app.getUser().getName() }}</span>
            </div>
            <div class="text mb-1 d-flex" id="text-of-reply"></div>
            {{ form_start(commentForm) }}
            {{ form_widget(commentForm) }}
            <button type="submit" class="btn btn-primary btn-block mb-4">
                Отправить комментарий
            </button>
            {{ form_end(commentForm)}}
        </div>
          <!-- Submit button -->
    </div>
    {% endif %}

    <!-- Comments -->
    <div style="background-color: #ffffff;" class="container mt-3">
              <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10">
                  <div class="card text-dark">
                    <div class="ms-3 mt-3">
                      <h4 class="mb-0">Комментарии</h4>
                    </div>
                  {% for comment in comments %}
                    <div class="card-body p-4" id="{{ comment.getId() }}">

                      <div class="d-flex flex-start">
                        <img class="rounded-circle shadow-1-strong me-3"
                          src="{{ asset('uploads/avatars/users/'~comment.getUser().getUserAvatar()) }}" alt="avatar" width="60"
                          height="60" />
                        <div>
                          <h6 class="fw-bold mb-1">{{ comment.getUser().getName() }} {% if comment.getReply() %} в ответ на <a href="#{{ comment.getReply() }}">комментарий</a> comment.getReply().getUser().getName() {% endif %}</h6>
                          <div class="d-flex align-items-center mb-3">
                            <p class="mb-0">
                                {{ comment.getAddDate()|date("h:m:s d/m/y") }} {% if app.getUser() != comment.getUser() %} <a class="reply-link" data-id="{{ comment.getId() }}" id="to{{ comment.getId() }}">Ответить</a> {% endif %}
                            </p>
                          </div>
                          <p class="mb-0">
                            {{ comment.getText() }}
                          </p>
                        </div>
                      </div>
                    </div>

                    <hr class="my-0" />
                  {% endfor %}
                  </div>
                </div>
              </div>
    </div>
    <!-- Footer -->
    {{ include('footer.html.twig') }}
    <script>
        let replyLinks = document.querySelectorAll('.reply-link');
        let replyHiddenField = document.querySelector('.hidden-reply-id');
        let textOfReply = document.getElementById('text-of-reply');
        for(let i=0; i<replyLinks.length; i++){
            replyLinks[i].addEventListener('click',function () {
                replyHiddenField.value = replyLinks[i].getAttribute("data-id");
                textOfReply.innerHTML = `<div>Ответ на <a href="#${replyLinks[i].getAttribute("data-id")}">комментарий</a></div>    <div class="mx-1 Xmark" id="Xmark">X</div>`;
                document.getElementById('Xmark').addEventListener('click', function (){
                    replyHiddenField.value = null;
                    textOfReply.innerHTML = "";
                })
            })
        }
    </script>
{% endblock %}
